# Annoying file
.DS_Store

# Grunt intermediate storage (https://gruntjs.com/creating-plugins#storing-task$
.grunt 

# Bower dependency directory (https://bower.io/)
bower_components

# node-waf configuration
.lock-wscript

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release


# Next JS ignore stuff
.next/

# Node.js ignore stuff
node_modules/
jspm_packages/
.npm

# Dotenv, DO NOT REMOVE
.env

# Linting
.eslintcache

# TypeScript stuff
*.tsbuildinfo

# From GitHub template, misc.
logs
*.logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
pids
*.pids
*.seed
*.pid.lock
lib-cov
*.lcov
.nyc_output
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.node_repl_history
*.tgz
.yarn-integrity
.env.test
.cache