.hoverClass .hoverBox {
  visibility: hidden;
}

.hoverClass:hover .hoverBox {
  visibility: visible;
}

.dockerStatusTable {
  width: clamp(50vw, 50rem, 80vw);
}

.dockerStatusTable th {
  @apply bg-teal-200 px-4 py-2 table-fixed;
}

.dockerStatusTable tfoot {
  @apply bg-teal-200 px-4 py-0.5 table-fixed;
}

.dockerStatusTable td {
  @apply px-4 py-2;
}

.dockerStatusTable tr:nth-child(even) {
  @apply bg-gray-100;
}

.crashed-box {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0%, 100% {
    @apply bg-gray-900;
  }
  50% {
    @apply bg-gray-500;
  }
}